
.admin-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
}

.admin-container h1{
    margin-bottom: 28px;
}

.btn-registro{
    margin-bottom: 16px;
}

.list{
    width: 80%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(186, 186, 186, 0.256);
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 18px;
    align-items: left;
}

.list p{
    margin-bottom: 28px;
}

.list button{
    margin-right: 10px;
    border: 0;
    border-radius: 4px;
    padding: 4px;
}


.btn-editar{
    color: #feaa34;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    background: #161515;
}


.btn-finalizar{
    color: #96ff6d;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    background: #161515;
}


.btn-logout{
    position: absolute;
    font-size: 18px;
    top: 1%;
    left: 1%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 0;
    font-weight: 600;
    background-color: #a32a2a;
    color: #fff;
    transition: all .5s;
}

.btn-logout:hover{
    background-color: #ff0000;
}